body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: white;
	}
.divPageBody {
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divPageBody p {
	line-height: 140%;
	}
.hovering {
	background-color: whitesmoke;
	cursor: pointer;
	}
.divUrlInput {
	margin-bottom: 30px;
	}
.divUrlInput input {
	margin-top: 11px;
	margin-right: 5px;
	height: 32px;
	width: 600px;
	}
.divUrlInput .btnGo {
	height: 32px;
	}
.divTitleText {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25em;
	margin-bottom: 10px;
	}
.divBodyText {
	font-size: 13px;
	color: #9e9e9e;
	line-height: 18px;
	}

.divBigBox {
	height: 300px;
	width: 300px;
	background-color: gainsboro;
	border: 1px dotted gray;
	margin-top: 25px;
	tabindex: -1;
	}

.divMenubar .dropdown-menu li {
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	cursor: pointer;
	}
